@media only screen and (min-width: 1020px) {
	.content-wrap {
		max-width: 100%;
	}
	.content-wrap-header {
		width: 100%;
	}

	.content-wrap-body-container {
		width: 1020px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 940px) {

	.content-wrap-body {
		margin: 0;
	}

	
	.form-990, .services-budget-screenshot {
		text-align: center !important;
	}
}

.no-margin-bot {
	margin-bottom: 0 !important;
}

.margin-top-70 {
	margin-top: 70px !important;

}

.content-wrap-body-container-990 {
	border: 10px solid #eee;
	width: 90%;

	.content-wrap-body-container-990-header {
		font-family: Lato;
		font-size: 24px;
		font-style: italic;
		margin-top: 15px;
	}

	.content-wrap-body-container-services-items {
		list-style: none;
		margin: 0 0 30px 0;

		li {
			margin-top: 8px;
		}

		.icon-ok {
			color: #15b947;
		}

		.icon-cancel {
			color: #c33134;
		}
	}

	.services-budget-trudy {
		margin: 30px 20px 0 10px;
	}

	.services-budget-screenshot {
		margin-top: 20px;
		text-align: right;

		img {
			width: 262px;
		}
	}
}

.content-wrap-body-container-header {
	font-family: Oswald;
	font-size: 24px;
	font-weight: bold;
	color: #1e5da4;
	text-align: center;
	text-transform: uppercase;
	height: 100px;
	line-height: 100px;
}

.form-990 {
	text-align: right;
	margin-top: 25px;

	img {
		width: 221px;
		border: 2px solid #ccc;
		border-radius: 2px;
		height: 243px;
	}
}

.has-tip.circle {
	border-bottom: none;
	background: #95b3d5;
	border-radius: 55%;
	color: #fff;
	font-size: 13px;
}

.label-990 {
	background: #999999;
	border-radius: 3px;
	padding: 7px;
}