@import "settings";
@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
   "foundation/components/offcanvas",
   "foundation/components/visibility";

//customization starts
$tbblue: #267BCB ;
$redbg: #af2d30;
$redborder: #9a2326;
$redhover: #c33134;
$sidenavhover: #e0363a;
$redhead: #cf0d0d;
$redbg: #f33c3e;
$greenhead:#13a13f;
$greenbg:#15b948;
$bluehead:#2161a8;
$bluebg:#2873c6; 
$tablehead: #5b80ad;
$tablesubhead: #cfdbe9;
$footerbg:#272727;
$reportbox:#246dc6;
$active:#E0363A;
$normalbutton: #1b619c;
$lightblue: #eaf7ff;
$lightblueborder: #c7dcfb;
$deftext: #3E4A58;
$question: #95b3d5;
$qhover: #304c6c;


//Base color for the charts
$pie-color: #33ff24;

// Max number of items in your list
$items-in-list: 2;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin darkened-children($num-children, $color) {
  @for $i from 1 through $num-children {
    $color: scale-color($color, $lightness: -10%);
    & > *:nth-child(#{$num-children}n+#{$i}) {
      color: $color;
    }
  }
}



 .page-wrap {position:relative; min-height: 100%; height:100%;
  .off-canvas-wrap {min-height: 100%; padding-bottom:35px; position:relative;
  .inner-wrap {min-height: 100%; position: static;
   

  }
}
}

.page-wrap {background:#ddd; margin:0 auto;}

.tab-bar {
	background: $white;
	height: 3.438rem;
    line-height: 3.438rem;
h1, h2, h3, h4, h5, h6 {
    height: 3.438rem;
    line-height: 3.438rem;
	}
.right-small {
          border-left:none; text-align:center; 
          a {
            font-size: 1.3rem;
            &.right-off-canvas-toggle
            {color:#257bcb;
              &:hover {color:#1e5da4;}

            }
            } 
        }
ul.notif-icons.right {
              margin: 0px 39px 0px 0px;
              height: 55px;
              position:relative;
              li {
                list-style: none;
                float: left;
                &.arrwup {padding: 0px; border: 0;}
                &.pchart { .arrow-up { position: absolute; top: -6px; left: 167px;} }
                &.bcase { .arrow-up { position: absolute; top: -6px; left: 206px;} }
                &.bcloud { .arrow-up { position: absolute; top: -6px; left: 243px;} }
             
               &:hover  { 

             }

                   a {
                  color: #a8caea;
                  padding: 3px;
                  margin: 1px;
                  position: relative;
                  font-size: 1.3rem;
                  line-height: 59px;
                 &.active {color:$active;}
                 .attn {
                        height: .9rem;
                         width: .9rem;
                         border: 1px solid white;
                                          @include border-radius(100%);
                                         background: #F00;
                                         position: absolute;
                                          right: 1px;
                                          top: 2px;
                                          display: block;
                                          padding: 0;
                    .icon-attention-alt {
                                          color: $white;
                                          font-size: 0.57rem;
                                          line-height: 0.8rem;
                                          display: block;
                                          
                                          }

                 }
                  
                  }
                  //dropdown
                  ul {position:absolute; 
                  margin:0; width:100%; 
                  background-color:$tbblue; 
                  right:-27px; width:297px; 
                  z-index:1;
                  display: none;
                  margin-top: -12px;
                  padding: 0px 1px 1px;
                z-index: 999;
                 li { float:none; cursor:pointer; background:$white; border-bottom: 1px solid #cadef7;
                      padding: 8px;
                      &:hover {background:#edf4fc;}
                      &.headin {background:$tbblue; a {color:$white !important;} border:none;}
                      &:last-child {border:none;}
                      
                    a {color:$tbblue !important; font-size: 1rem; line-height:1.2rem; display:block; margin:0; padding:0;
                      
                    }
                 }
                }


                }
              }
}

.tb-logo { 
    	float:left;
    	a {
    		display: block;
    		line-height: 3.438rem;
height: 3.438rem;
padding: 8px 7px 0;}
    	img {
    		max-width:100px;
    		max-height:40px;
    		}
    	}

  .nav-wrap {background-color:#1e5da4; width:38px; float:left; height:100%;  position: absolute;


ul {
  background-color:#1d4c84;
      margin: 0;
      list-style:none;
  position:relative; z-index:1;
  li { position:relative;
    a {
          color: $white;
          text-align: center;
          display: block;
          font-size: 1rem;
        }
    &:hover, &.active {background:$sidenavhover;
     
    }
    padding:7px 0; border-bottom: 1px solid #13447e;
    ul {
                  display: none;
                  position:absolute; 
                  top: 0;
                  left: 38px;
                  background-color:$redbg; 
                  width: 200px;
                  li{ 
                    border-bottom: 1px solid $redborder;
                    font-size: 1.02rem;
                    &.active, &:hover {background:$redhover;}
                    a {text-align: left;}
                    padding: {left:24px; right:10px;}
                  }
                 
                }
  }
}




  }
  .content-wrap {
  	position: relative;
    min-height: 100%;
    padding-top: 10px;
width: 100%;
padding-left: 38px;
    .dollar-total {display:inline-block; background:$normalbutton; color:$white;padding: 1px 5px;
margin: 5px 0 10px;}
		.contentbg {
					background:#eee; margin-top:10px; padding:10px;
					}


.reportbox-wrap {margin-bottom:10px; padding-left: 5px;
padding-right: 5px;
.reportbox {background:$reportbox; min-height: 116px; text-align: center;padding: 26px 12px 0;
  &:hover {background:$active;}
  svg {min-height:40px; max-height:40px; height:100%; max-width: 45px; width:100%;
      path {   fill:#fff;}
  }
  span {display:block;color:$white; line-height:1; font-size:.75rem; text-transform:uppercase; margin:0; padding:0;}
  
   }
  }
}


.checks { margin-bottom: 10px; color:$white; position:relative; height:77px;
   @media #{$medium-up} { height:auto; }
  header { 
            @media #{$medium-up} { text-align:center; }
          }


  div {padding: 0 5px; display: inline-block;
    div {padding:1px 0 0; position:relative; 
       @media #{$medium-up} { text-align:right; height:60px; }
       .big-amount { 
                 @media #{$medium-up} { display:block; }
       }
      .addamount {position: absolute;
                    bottom: -15px;
                    left: 0;
                     @media #{$medium-up} { display:inline-block; position:relative; bottom:25px;}
                  }

                  .recdate {position: absolute;
                    bottom: -17px;
                    left: 0;
                       @media #{$medium-up} {display: block; text-align:left;position:relative; bottom:0;}
                  }
                 }
    &.amount {width:30%; font-size:.85rem;font-weight: 700;
         @media #{$medium-up} { font-size: 1.8rem; width:100%; height:60px; padding-top:10px;}
         }
    &.recdes {width:55%; font-size: .85rem; text-align:center;
    @media #{$medium-up} { width:100%; text-align:left; margin-top:-18px; padding-bottom:15px;
      div {height:40px;}
    }
  }
    &.arrws {width:29px; float:right;
        @media #{$medium-up} {position: absolute;right: 0;height: 100%;top: 0;}
    }
    .states {font-size: 1.23rem;
              position: absolute;
              top: -51px; right: -26px;
              i {font-size:1.5rem;}
               @media #{$medium-up} {top: 100px;}
            }
    .up-arr {font-size: 1.8rem;
position: absolute;
top: -20px;
right: -30px;
@media #{$medium-up} {top: 30px;}
}
  }
  &.green { header {padding: 3px 5px; text-transform:uppercase; background:$greenhead;}
              background-color:$greenbg; 
              .addamount {color:#15B948; font-size:9px; background:$white; @include border-radius(100px); padding:0 3px;}
}

&.red { header {padding: 3px 5px; text-transform:uppercase; background:$redhead;}
              background-color:$redbg; 
              .addamount {color:$redbg; font-size:9px; background:$white; @include border-radius(100px); padding:0 3px;}
}

&.blue { header {padding: 3px 5px; text-transform:uppercase; background:$bluehead;}
              background-color:$bluebg; 
              .addamount {color:$bluebg; font-size:9px; background:$white; @include border-radius(100px); padding:0 3px;}
}


}

.totalexp { background-color:#de5626; color:$white; padding:3px 5px;margin-bottom:10px; 
              .amt {float:right; font-weight:700; display:block;}
             
}

.totalrev { background-color:#4f9c10; color:$white; padding:3px 5px;margin-bottom:10px; 
              .amt {float:right; font-weight:700; display:block;}
            
}


.calendar { 
    header {background:$tablehead; color:$white; padding:5px;}  
  table {width:100%; border-collapse: collapse;
              tr { border-top: 1px solid #eee; background:$white;
                &:first-child {border-top: none;}
                th {padding:5px; background:$tablesubhead; color:$dblue;}
                th:last-child(2) {width:92px;}
                td {padding:5px; color:$dblue;}
                
              }
              tr:nth-child(2) {border-top: none;}
        }     

}


.payprof, .contacts {list-style:none; margin:0;background: white;
  li { border-bottom: 5px solid #ddd;
    span {display:block;padding: 8px; border-bottom: 1px solid #EEE; 
         i {color: #bbb;}
    }
   &:hover {background-color:#d0e6ff; 
    span {border-color:#d0e6ff;}
    i {color:#3E4A58;}
    svg path {fill:#3E4A58;}
  }
    a {display:block; color:#3E4A58;
      i {color: #bbb;}
        span {display:block;padding: 8px; border-bottom: 1px solid #EEE; }
    }
  }
}


footer {text-align:center; font-size: .75rem; background:$footerbg; color:#9c9c9c; padding: 5px 0;
          position:absolute; bottom:0; width:100%;}

ul.off-canvas-list li a {font-size:.75rem;}

.contact-menu-wrap {position:relative;
.contact-box {padding-left: 0;
padding-right: 0;}
}

.menubtn {
          ul { list-style:none; width: 66px;
float: right; margin: 0 0 10px;
          &.contact-drop {width:30px;}
                li {float:left; padding: 0 3px;
                  &.headin {background: $tbblue none repeat scroll 0% 0%;
                            border: medium none;}
                  &:hover { .notif-btn { span {background-color:$reportbox;} } }
                    a { font-size:.7rem; color:$white;
                      span {background:$normalbutton; @include border-radius(3px);
                        display: block;width: 1.625rem;
  height: 1.625rem;
  text-align: center;
  line-height: 1.625rem;

                      }
                    }

                }
          }

}

.srchform { background:$tbblue; padding:8px; width: 300px; display:none;
            position: absolute;
            z-index: 99; top: 38px;
            right: 0;
            color:$white;
            .arrow-up {position:absolute; top: -7px; right: 44px;}
            &.contact-box {.arrow-up {right: 8px;}}
           input {border:none; margin:0; height:2rem;
              &[type="text"] {width:75%;display: inline; margin-top:10px;
                &.fromdate {width:109px; }
                  &.search1 {width:240px;}
                  &.dsearch {margin-top:0;}
              }
              &[type="submit"] {width:23%; float:right; background:$normalbutton; color:$white; @include border-radius(3px);}
           }
           
              
           select {border:none; margin:0;
           }
    .entries { 
      span {margin-top:15px; display:inline-block;}
      select {width:230px; margin-top:10px; float:right;}
  }
}

.srchbtn {width:2.125rem; float:right; background:$normalbutton; color:$white; @include border-radius(3px); margin-top: 10px;
                padding: 0; margin-bottom:0;
                height: 2.125rem; line-height:2.125rem;
&:hover {background:$normalbutton;}
              }

.az {background:$tbblue; padding:8px; width: 295px; 
   display:none;
            position: absolute;
            z-index: 99; top: 38px;
            right: 0;
            .arrow-up {position:absolute; top: -7px; right: 11px;}
          a {color:$normalbutton;font-size: 1rem;
background: $white;
width: 35px;
display: inline-block;
height: 35px;
text-align: center;
line-height: 35px;
margin: 2px 1px;

&.numb {width: 75px;}

}
          }

.contactme { div {background-color:$white; border-bottom:1px solid #eee; padding: 8px;
             
                  i { color:#bbb;} 
                  }
}



.transaction-row { border-bottom:1px solid #d0e6fe; padding:10px 0;
overflow: hidden; background:$white;
 &>div { background:transparent; padding:0;}
 &.active {background-color:#d0e6ff; border-bottom:1px solid $white;}
 

&>a {text-align: center; display: block; font-size: .675rem; color: #bbb; }

.transactions { 

  div { border-bottom:1px solid #d0e6ff; padding: 0 8px;
              &.details-wrap {overflow:hidden; background:transparent; padding:0; margin-top:10px; display:none;
                              .whitebg { background: $white; @include border-radius(5px); overflow:hidden; font-size:0.875rem;
                                          margin-bottom: 10px;
                                  div {padding:5px 0;
                                      span {color:$normalbutton;}
                                  } 
                              }
                            .attachments {background:transparent; margin-bottom: 10px;
                                div {background:transparent; padding:0;
                                  img { max-height:24px; margin:0 5px;}
                                }
                            }
                            .last-recon { color:$white; font-size: .875rem; position:relative; margin-bottom:10px;
                              &.ok { background:$greenbg;}
                              span {display:block;}
                              i {position: absolute;
right: 10px;
font-size: 30px;
top: 50%;
margin-top: -15px;
display: block;
width: 30px;
height: 30px;
line-height: 30px;
color:$white ;
}
                              }
                            }
              &:last-child {border:none;}
              
                  i { color:#bbb;} 
                  }
  
  &.approve { 
    .details-wrap {margin-top:0;}
    &>div {margin-bottom:10px;}
    div {border:none;
          .whitebg {padding:0; background:none;
            div {padding:0;}}
    } 
  }

    }
}


.transactions.approve div i {color:#3E4A58;}


.approve-btn {margin-left: 8px; display: inline-block;
font-size: .875rem; color:#5f748d;
padding: 5px 0px 5px 10px; @include border-radius(3px);
border:1px solid #809bbd;
input {margin-bottom:0;}
}


.approval-box { margin-bottom:15px;
  .transaction-row { border: 1px solid #b3cdeb !important; @include border-radius(5px);}
}

.attn.green {font-size: 0.5rem;
display: inline-block;
background: #2eb727 none repeat scroll 0% 0%;
@include border-radius(100px);
width: 12px;
height: 12px;
line-height:12px;
text-align: center;
i {color:$white !important; vertical-align: super; }

}

.srch-input {  position:relative; margin-bottom: 15px;
  form {max-width: 262px;
position: relative;
  .dsearch {max-width: 178px;
height: 1.9rem;border: none;
box-shadow: none;
width: 100%;}
}
.sbtn {

  @extend .srchbtn ;
  position: absolute;
  margin-top: 0;
  top:0;
  right:50px;
  width: 1.9rem;
  height: 1.9rem;
  line-height: 1.9rem;

}
}

.upload-btn {background: transparent; color:$normalbutton; font-size: 2.125rem;
  position: absolute;
top: -5px;
right: 0;
margin: 0;
padding: 0;
 &:hover {background:transparent;color:$normalbutton;}
 }


 .briefcases {
          .scrollers {background:$white; height:215px; overflow-y:scroll;} 
          ul {list-style:none; margin:0 10px;
              li {border-bottom: 1px solid #ddd; padding: 5px 0;}
            &.tabs {margin:10px 0;
              li > a {    padding: 7px 10px;}
            }
          }
          .bhead {
                    background:$tbblue; overflow:hidden; padding: 7px 10px 5px;
                    header { float:left; color:$white;}
                  }
          .icon-folder-open {color:$redhover;}
          .icon-folder {color:$tbblue;}
              }

.addbtn {float:right; display:block; background:$normalbutton; color: $white; padding: 2px 5px 2px 1px;
          @include border-radius(3px); font-size: 0.75rem;
          &:hover {color: $white;}

}

.tab-wrap {background-color:$tbblue; color:$white; position:relative;}

.tabs { 
  .tab-title { padding:0; border:none;
    &.active { a { color:#3E4A58;
       &:hover {background-color:$white; color:#3E4A58;}}}
      &>a {background-color:$tbblue; color:$white;
          &:hover {background-color:$tbblue; color:$white;}
      }
    }
  }

  .tabs-content { margin-bottom:0;
      .content { background-color:$white;
       form { overflow:hidden; display:block;
        span {float:right; line-height:2.1;

          &.tabmenusfile {float: left; padding: 0px 10px; color:$tbblue;
              i {margin: 0 5px;}
          }
        }
        select {float:right; width:100px; margin: 0 10px 10px; @extend .blue-input;}
        }
      }
&>.content {padding:.5rem 0;}



  }

.doc-row {overflow:hidden; color:$deftext; border-top: 1px solid #eee;padding-top:10px; padding-bottom:10px; margin: 0 10px; background-color:#f9f9f9;
         font-size: .875rem;
         input {margin-right:5px;}
            a {color:red; font-size:1.2rem; margin: 0 3px;}
            &:last-child {border-bottom:1px solid #eee;}   
}  

 .unfiled {text-align: center; overflow:hidden; color:$deftext; padding-top:10px; padding-bottom:10px;
      span {display: block; }
      ul { li {border:1px solid #eee; width: 46%;
margin: 5px 2%;
float: left;
padding: 10px 0 0;
&>img {max-width: 40%;}

.unfiledname {font-size: .6rem;}
.unfiled-attach {text-align:left; background:#eeeeee; padding:5px;
a {float:right; color:$redbg; margin: 0 5px;}
input {margin:0;}

}

          } 
            


        }
 }

ul.pagination { padding-bottom: 10px;
  li {margin:0;
    a {padding: 0.0525rem 0.525rem; color:$tbblue; font-size:.8rem;}
    &.current {a {background:$tbblue;font-size:.8rem;}}
  }
}

.showing {background: #fff;
margin: 0;
padding: 10px;}

.pagination-centered {background:white;}


.bcase-login {background: rgba(0,0,0,.75); position: fixed; height:100%; width:100%; z-index:9999; top:0;
  &.profile-cat {.login-body 
    { text-align:center; 
    p {margin-bottom:0 !important;}
    }
  }
}

.login-wrap { width: 250px; margin: 50px auto; background: $white; @include border-radius(5px); min-height:100px; overflow:hidden;
  &.pprofile {margin-top:20px;max-height: 86%; position:relative; height: 100%;
    .login-body {overflow-y: scroll;
position: absolute;
max-height: 86%;
        header {font-weight:bold; color:$tbblue;}
        p {text-align:left;}
    }

  }
  .headerwrap { background:$tbblue;padding: 7px 10px; font-family:$font-family-header;
    header {display:inline-block; color:$white; }
                i {float:right; color:$white;}
      }

       .login-body {padding: 10px 20px;
        form {text-align:center; margin-bottom:10px;}
           p {margin-bottom:1.25rem; margin-top:.5rem; text-align:center;
            &.forgotpin {font-size:.75rem;}
            &.input-item {margin:0; input { margin-bottom:0;}}
          }

       }  
  &.addfolder { 
    .login-body {p {margin-bottom:5px; text-align:left;
                    &.input-item {margin-bottom:20px;}
      }
    }
  }
  &.uploadfile { 
    .login-body {p {margin-bottom:5px; text-align:left;
                      span {font-size:.75rem;}
                    &.input-item {margin-bottom:20px;
                      input[type="file"] {background:none;}
                      select {margin-bottom:0;}
                    }
      }
    }
  }
    &.pprofile {max-width:80%; width: 100%;}
}

.addnew, .uploadfiles, .deletefile, .filefile, .dldl, .payment-profile, .profile-cat {display:none;}
.blue-input {border-color:$lightblueborder !important; background-color:$lightblue !important; box-shadow:none !important;}

.cta-btn {background:#15b948; @include border-radius(5px); color:$white; border:0; padding: 7px 15px;min-width: 75px;
font-size: .875rem; margin:0 3px; &:hover{background:#15b948;}}
.cancel-btn {background:#92accd; @include border-radius(5px);  color:$white; padding: 7px 15px;min-width: 75px;
font-size: .875rem; margin:0 3px; &:hover{background:#92accd;} }
.normal-btn {background:#1B619C;@include border-radius(5px);  color:$white; padding: 7px 15px;min-width: 75px;
font-size: .875rem; margin:0 3px; &:hover{background:#1B619C;}}

.ptokens {font-size:.875rem; color:$normalbutton; line-height:1.2; margin-top:1.25rem;}

.hide {visibility:hidden;}
.bluehover {background:$tbblue !important;}
.ahover {color:$tbblue !important;}

.q-mark {color:$question;}
.q-mark:hover {color:$qhover;}

svg.calendar {height: 1rem;
width: 1.5rem;}

svg.pportal {height: 1rem; margin: 0 3px;
width: 1rem;}

.add-profiles {background:#FFF; overflow:hidden; padding-top: 10px; margin-bottom:1rem;
  input, select {@extend .blue-input}
    .row {margin:0 -10px;
      span#profile-net-fee {display:inline-block;margin-bottom: 10px;}
      #profile-convenience-fee {max-width:89%; float:left;margin-bottom: 10px;}
    }
}

.category-sel {background: #f1f1f1 ; text-align:center;
padding: 10px; 
overflow: hidden;
select {margin: 0 0 0.2rem;}
.addbtn {margin: 0.2rem 0 0;
padding: 10px;
width: 100%;}
}

.linedivider {border-width: 1px 0px 0px;
border-color: #cdd9e6;}

.jqte {
    margin: 5px 0 1rem;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}

.notel {margin-top:5px;}

.event-time {

  select {width:25%; float:left;
     margin-right:10px;
  }
  label {padding: 0 5px;float:left; line-height:2.6;}
}

.with-tip {position:relative;
  p {
    background: #333;
    position: absolute;
    z-index: 9;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    color:$white;
    right: 0;
    display: none;
  }
}

.submit-btns {margin-bottom:1rem;}

// chart styles

.expenses, .revenues {background-color:$white;}




.pad10 {padding:10px;}
.padding5 { .columns {padding-left:5px; padding-right:5px;} }
.padding10 { .columns {padding-left:10px; padding-right:10px;} }
.padd5 {padding-left:5px; padding-right:5px;}
.invi {display:none;} 
.padtb {padding: {top:0; bottom:0;}}   
.paddb10 {padding-bottom: 10px;}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display:block;
  border-bottom: 7px solid $tbblue;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $white;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 10px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

::-webkit-input-placeholder {
   color: #444;
}

:-moz-placeholder { /* Firefox 18- */
   color: #444;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #444;  
}

:-ms-input-placeholder {  
   color: #444;  
}




