@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "../bower_components/chartist/dist/scss/chartist";
@import "calendar";



// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
   "../bower_components/foundation/scss/foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
   "../bower_components/foundation/scss/foundation/components/offcanvas",
   "../bower_components/foundation/scss/foundation/components/visibility";

//customization starts
$tbblue: #267BCB ;
$redbg: #af2d30;
$redborder: #9a2326;
$redhover: #c33134;
$sidenavhover: #e0363a;
$redhead: #cf0d0d;
$redbg: #f33c3e;
$greenhead:#13a13f;
$greenbg:#15b948;
$bluehead:#2161a8;
$bluebg:#2873c6; 
$tablehead: #5b80ad;
$tablesubhead: #cfdbe9;
$footerbg:#272727;
$reportbox:#246dc6;
$active:#E0363A;
$normalbutton: #1b619c;
$lightblue: #eaf7ff;
$lightblueborder: #c7dcfb;
$deftext: #3E4A58;
$question: #95b3d5;
$qhover: #304c6c;
$gray: #eee;

//Base color for the charts
$pie-color: #33ff24;

// Max number of items in your list
$items-in-list: 2;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin darkened-children($num-children, $color) {
  @for $i from 1 through $num-children {
    $color: scale-color($color, $lightness: -10%);
    & > *:nth-child(#{$num-children}n+#{$i}) {
      color: $color;
    }
  }
}

//@import "slick-theme";
@import "slick";
@import "page";
@import "nav";
@import "home";
@import "transaction";
@import "approval";
@import "reports";
@import "briefcase-login";
@import "contact";
@import "payment-profiles";
@import "payment-profiles-add";
@import "footer";
@import "report-pages";


